<!DOCTYPE html>
<html lang="en">
<%- include("head.ejs") %>

    <body>
        <h1>중고 자동차 목록</h1>
        <p>
            <%- include("carmenu.ejs")%>
        </p>
        <div></div>
        <p><%- include("bottom.ejs")%></p>
    </body>

</html>